html, body, #container{
  padding:0px;
  margin: 0px;
}
#container{
  width: 700px;
  margin: 0 auto;
}


.item {
  margin: 15px;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 -3px 8px rgba(0,0,0,0.2);
}
